.divnewcard {
  text-align: center;
  margin-top: 20px;
}

.newname,
.newprice {
  padding: 5px;
  font-size: 16px;
}

.newbtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50; /* Зеленый цвет кнопки */
  color: white;
  border: none;
  cursor: pointer;
}

.newspan {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.divnewcardmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;

  width: 20%;
  height: 600px;
}
.newheader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contnew {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.divnewcard_p {
  font-size: 30px;
}
.imgnewdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.divnewimg {
  display: block;
  height: auto;
  width: 10rem;
  margin-top: 10px;
}

.divnewcard_p2 {
  font-size: 24px;
}

.divnewbtn2 {
  padding: 10px 10px;
  font-size: 14px;
  background-color: #f44336; /* Красный цвет кнопки */
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.newspan1 {
  font-size: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  min-height: 34px;
  margin-top: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
/* Rund */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
